[2014-08-12 05:18] ScottKillen opened #1 "Ingot textures have white background."
The background should be transparent.

[2014-08-12 05:29] ScottKillen opened #2 "Missing Tier One art assets"
- Items
  - [X] Anach Doodad
  - [x] Musty Journal
  - [X] Personal Gui Vox
  - [X] Plotonium Scrap
  - [X] Vox Box
  - [x] Bronze Armor (Items, model and sheet)
  - [x] Bronze Axe
  - [x] Bronze hoe
  - [x] Bronze Pick
  - [x] Bronze Shovel
  - [x] Bronze Sword
  - [x] Bronze Ingot
  - [x] Steel Ingot
  - [x] Zinc Ingot
  - [X] Niter
  - [X] Sulfur
  - [x] Steel Armor (Items, model and sheet)
  -

[2014-08-12 06:23] #1 closed, assigned to Rosethorns

[2014-08-12 06:23] Rosethorns commented on #1
Should be fixed with new assets. 12-08-2014
closing

[2014-08-12 14:51] ScottKillen commented on #2
Updated list with textures provided with solution to #1. Bronze, Steel and Zinc blocks and ingots.

[2014-08-14 02:47] horfius commented on #2
Might I add the concrete blocks' textures?

[2014-08-14 03:08] ScottKillen opened #4 "Concrete textures"
Needed for #3 when it is merged.

[2014-08-14 03:09] ScottKillen commented on #2
@horfius These are for blocks that have already been added. I think your PR mentions textures, but I created #4 to explicitly note the task.

[2014-08-14 03:09] Rosethorns commented on #2
Yup I'll add that to the checklist me and scott are keeping

On 14 August 2014 14:47, horfius notifications@github.com wrote:

[2014-08-14 16:59] ScottKillen opened #9 "Basic Recipes"
Add recipes for tolls and blocks similar to vanilla recipes. Use ore dictionary where possible.

[2014-08-14 17:01] ScottKillen opened #10 "Block Customization"
Customize each block added in code, giving each appropriate properties.

[2014-08-14 17:03] ScottKillen opened #11 "Ore Generation"
Generate ore underground.

Should be able to be disabled in config file to provide compatibility with external ore generation.

[2014-08-16 16:48] ScottKillen commented on #2
Updated with @Rosethorns latest textures.

[2014-08-16 16:53] ScottKillen opened #13 "PG Vox needs transparent background"
![2014-08-16 12_39_43-minecraft 1 7 10 most textures done](https://cloud.githubusercontent.com/assets/1509989/3942450/c8db8d58-2565-11e4-84ec-2bafe2d4cb39.png)

[2014-08-16 16:54] ScottKillen commented on #2
![2014-08-16 12_39_43-minecraft 1 7 10 most textures done](https://cloud.githubusercontent.com/assets/1509989/3942454/00c91d5c-2566-11e4-9e5e-eae34700a095.png)

[2014-08-16 17:39] ScottKillen opened #14 "Need player armor textures"
Need texture sheets for bronze and steel armor on the player models.

[2014-08-17 04:41] #9 closed, assigned to ScottKillen

[2014-08-17 05:52] #13 closed, assigned to Rosethorns

[2014-08-17 05:53] Rosethorns opened #15 "Ingot Zinc does not have localization"
Ingot Zinc has not been localized yet.

[2014-08-17 12:00] #15 closed, assigned to nobody

[2014-08-19 04:18] goldbattle commented on #2
Was a bit bored, so I thought it would be fun to try a 16x block. Meh.
Ore Niter:
![oreniter](https://cloud.githubusercontent.com/assets/2222562/3961613/5ac81f7c-2757-11e4-9a2b-0908974cae0d.png)
Ore Zinc:
![orezinc](https://cloud.githubusercontent.com/assets/2222562/3961614/61161762-2757-11e4-8f03-94a1312d7419.png)
Block Concrete:
![blockconcrete](https://cloud.githubusercontent.com/assets/2222562

[2014-08-19 04:32] ScottKillen commented on #2
Thanks, @goldbattle!

So we can't lure you away from ~~64x~~, eh? :grin:

er, um, I meant 32x. Yeah. That's it! :trophy:

[2014-08-19 04:37] ScottKillen commented on #2
Updated list above with contributions from @goldbattle. Thank you!

[2014-08-19 04:52] goldbattle commented on #2
Ever thought about having live dialog ingame for the vox?

[2014-08-19 05:20] ScottKillen commented on #2
Well @goldbattle, I think that @Rosethorns h...

[code]

...nd Everything" is simply '42'. Very thought provoking.

[2014-08-19 06:20] Rosethorns commented on #2
Scott note that there is already a Niter and Zinc Ore block in the appropriate assets place 16-08-2014

[2014-08-19 06:36] goldbattle commented on #2
If you already have them, use those. Doesn't bother me.
On Aug 19, 2014 2:20 AM, "Rosie" notifications@github.com wrote:

[2014-08-19 13:45] ScottKillen commented on #2
@Rosethorns I wonder how I missed them...It must have been the Ancients interfering again.

[2014-08-19 20:32] horfius commented on #2
Please note that concrete has 5 textures @goldbattle one for each stage of drying. If you want to make the texture for all of them, blockConcrete_0.png is the freshly made wet stage, blockConcrete_4.png is the final stage (fully dried)

[2014-08-19 20:43] horfius commented on #4
For those wanted to do this, #2 has basic instructions.

[2014-08-19 22:09] goldbattle commented on #4
What I came up with. Gets less 'liquidy' as time goes on. Finally it forms the solid block.

Download: http://www.mediafire.com/download/uf5b8jsdsdfs5dp/blocks.zip
Video: http://youtu.be/yXd1dgu5dq0

wool_colored_black.png > 0
wool_colored_blue.png > 1
wool_colored_brown.png > 2
wool_colored_cyan.png > 3
wool_colored_gray.png > 4

[2014-08-19 22:24] horfius commented on #4
Very nice!

[2014-08-20 13:05] ScottKillen opened #25 "Need permanent texture for cupola"
Was working on implementing the block and noticed that the model was a placeholder.

[2014-08-21 08:54] Rosethorns commented on #25
Models not a place holder, it is just two blocks tall. I need to texture it.

On 21 August 2014 01:05, Scott Killen notifications@github.com wrote:

[2014-08-21 12:46] ScottKillen commented on #25
I figured. I will retitle this issue.

[2014-08-22 21:37] ScottKillen opened #27 "Fix block renderer for cupola"

[2014-08-23 00:11] horfius commented on #27
Along with this, you should commit the actual model (if it exists) because it crashes without out it.

[2014-08-23 03:00] ScottKillen commented on #27
Will do. Stupid global gitignore file... :frowning:

[2014-08-23 20:25] #27 closed, assigned to ScottKillen

[2014-08-23 20:26] ScottKillen opened #28 "Add cupola recipe"
Recipe has been provided by @Rosethorns

[2014-08-23 20:27] ScottKillen commented on #25
Not sure if it is texture or model, but the cupola has no bottom.

[2014-08-23 20:32] ScottKillen opened #29 "Add right click functionality to Cupola"
Requires rules and gui from @Rosethorns before coding.

[2014-08-24 04:40] ScottKillen commented on #28
![80032](https://cloud.githubusercontent.com/assets/1509989/4022597/b68ae796-2b48-11e4-9150-3684e2c988ba.png)

[2014-08-24 04:59] ScottKillen commented on #28
Testing successful

![2014-08-24_00 52 31](https://cloud.githubusercontent.com/assets/1509989/4022630/68f16840-2b4b-11e4-8c71-f177fbb9dcb4.png)

[2014-08-24 04:59] #28 closed, assigned to ScottKillen

[2014-08-24 09:53] Rosethorns commented on #25
seems like the white of the texture was made transparent. From looking at it ingame, it appears the Cupola places backwards (front away from player (green)) and upside down (transparent/white should be top, black bottom)

Textures uploaded to assets.

[2014-08-25 09:48] Rosethorns commented on #14
Assets added marked for the 25th

[2014-08-25 10:24] Rosethorns commented on #11
When it comes time to do this one.

Tin, copper & Zinc: Something that always happens in other mods that introduce tin and copper is that they don't use them enough and they either spawn more often or the same amount as iron. While I figure long term we will be using them far more often (Plotonium afterall requires copper and zinc)

We should probably start off conservatively and have the veins sm

[2014-08-25 10:29] Rosethorns opened #30 "Sulfur Ore Block has not had texture assigned"
Sulfur Ore Block's texture has not had it's texture assigned.
Scott: It can be found in the assets folder marked 16-08-2014

[2014-08-25 12:16] ScottKillen commented on #30
:see_no_evil:

[2014-08-25 13:08] #30 closed, assigned to ScottKillen

[2014-08-25 13:10] ScottKillen commented on #11
@Rosethorns with regard to Niter: We will be spawning pockets of sandstone with niter ore embedded?

[2014-08-25 14:39] Rosethorns commented on #11
@ScottKillen Ideally deserts will be the primary place to get Niter, the spawning everywhere else in rare amounts means you won't be totally doomed without a desert.

So what you are saying got me thinking.
1. I need to change the ore block to be against sand rather than stone :p
2. yes, that would be aesthetically pretty cool.
3. can we get the sandstone clumps that spawn only to be below the dir

[2014-08-25 14:50] ScottKillen commented on #11
@Rosethorns
I will check, but from my recollection, there is no gen for sand stone as a minable resource. I think that the terrain gen code changes the bottom of the sand layer to sandstone as it generates the sand for the biome.

I _think_ I can adjust the gen based on the highest block in the current chunk...so that would probably do the trick.

The ambiguous part is that if the ore is to be fou

[2014-08-25 14:54] ScottKillen commented on #11
Another possibility might be to spawn it in cavern walls in deserts per http://en.wikipedia.org/wiki/Niter

[2014-08-26 02:23] #25 closed, assigned to ScottKillen

[2014-08-26 02:24] ScottKillen opened #31 "Need robust networking code"
The network handling needs to be shored up;.

[2014-08-26 02:24] ScottKillen commented on #31
Working on this for the next few days.

[2014-08-30 07:11] #31 closed, assigned to ScottKillen

[2014-09-03 11:02] AtomicBlom commented on #11
Thought I'd jump in on here as I just happened to be reverse-engineering the nether's chunk provider last night. I haven't looked at overworld, so I'm sure it's quite different, but in general, it shouldn't be tremendously hard to get sulphur to generate around lava pools.

In the nether, the world is generated using a 3D map of density. When the density is greater than 0, then the corresponding b

[2014-09-03 11:26] ScottKillen commented on #11
Thanks, @atomicblom!

[2014-09-03 13:59] AtomicBlom commented on #11
Well, turns out that an implementation of this is substantially different than I had expected.

Turns out that the density stuff isn't made accessible via forge. It appears that you have to use the PopulateChunkEvent.Populate event and override how it generates lava, but even that doesn't seem 100% correct either as my implementation doesn't surround ALL lava with sulphur.

I'll submit a pull requ

[2014-09-03 14:08] ScottKillen commented on #11
Exactly what PopulateChunkEvent.Populate is for (!), but preferred as a **last resort** because it _could_ produce an incompatibility should another mod decide to use the same method. Perhaps adding a GenMinable that only replaces replaceable blocks that are also next to ore...and have that spawn on the same levels and underground lava and lava lakes? We also need to be liberal with config options

[2014-09-03 14:10] ScottKillen commented on #11
Also...a GenMinable may work better in games where a custom world gen (ATG, Highlands, etc...) is used because the custom world gen may handle lava gen on its own and fail to post the proper event.

[2014-09-03 15:32] Rosethorns commented on #11
Thats some really impressive investigative work though Steve, thanks so
much :D

On 4 September 2014 02:10, Scott Killen notifications@github.com wrote:

[2014-09-03 17:07] AtomicBlom commented on #11
I've created #32  for you to take a look at. Let me know if you have any advice/code guidelines you have as I'm predominantly a c# coder and I'm not as well accustomed to Java as I used to be (that singleton enum thing caught me a bit off guard)

[2014-09-03 17:15] ScottKillen commented on #11
@AtomicBlom At first glance, your code is beautiful and nicely documented. It will take a bit for me to pull in your changes as I am preoccupied with another feature and I will have to merge this into it.

The enum Singleton is from [Effective Java by Joshua Bloch](http://uet.vnu.edu.vn/~chauttm/e-books/java/Effective.Java.2nd.Edition.May.2008.3000th.Release.pdf). I highly recommend it.

Is the ab

[2014-09-03 17:19] AtomicBlom commented on #11
I'll get a better screenshot. The one above was from when I was using the Populate event instead of biome decorate.

[2014-09-03 17:54] AtomicBlom commented on #11
I had to tweak it some more, they were generating in spots that were hard to get a good screenshot...

![image](https://cloud.githubusercontent.com/assets/3894692/4138679/5f2884f6-3393-11e4-81a2-02723d37d888.png)

in this group, 14 were made, 3 of them are hidden somewhere.

[2014-09-03 18:03] Rosethorns commented on #11
looking really fantastic! like actually from the one screenie thats the
exact behavior I was thinking of.

On 4 September 2014 05:54, Steven Blom notifications@github.com wrote:

[2014-09-04 00:19] AtomicBlom commented on #11
I just noticed one thing missing from this discussion is what Y Levels you'd like the ore to generate at?

[2014-09-04 04:16] Rosethorns commented on #11
all Y levels that lava is found (so I guess that goes pretty high since
there is surface lava pools sometimes.)

On 4 September 2014 12:19, Steven Blom notifications@github.com wrote:

[2014-09-04 04:33] AtomicBlom commented on #11
How about Tin, Copper and Zinc? There is probably enough information to try doing Nitor, but if you have any thoughts, we can document that here too

(edit: Motor = Nitor)

[2014-09-04 04:38] Rosethorns commented on #11
Further up in this issue you will find what I outline for copper iron zinc. when I say rate I mean that it mimics iron y-levels and frequency of veins. However as I mention we want the veins to be smaller overall (6 max? for copper and zinc) and only a couple blocks max for tin. Those three ores will be a lot of me listening very closely to peoples input and adjusting it accordingly. But as for wh

[2014-09-04 04:48] AtomicBlom commented on #11
Alright, that will give me something to do on my lunch break :D

[2014-09-04 05:12] #29 closed, assigned to ScottKillen

[2014-09-04 07:12] Rosethorns opened #33 "Cupola: Steel recipe only takes one coal instead of two."
The steel recipe for the Cupola current only consumes one coal piece per steel action.
This should be two coal per steel.

[2014-09-04 07:14] Rosethorns opened #34 "Cupola: right clicking the "top" block space for the cupola does not open the GUI"
The bottom of the Cupola will open the GUI but not the top.

[2014-09-04 12:29] ScottKillen commented on #34
I knew I forgot something... :foggy:

[2014-09-04 12:35] ScottKillen commented on #33
Yes, but it the steel recipe _was_ consuming two iron per steel... :grinning:

[2014-09-04 23:17] Rosethorns commented on #33
Just reopening to confirm that you caught the other side of this bug "Yes, but it the steel recipe was consuming two iron per steel... " I was doing that recipe with 1 iron 2 coal, with 1 iron and 1 coal consumed.

Does that mean that it was not correctly consuming 2 iron? (and thus would of only consumed 1 coal had it been the right way around)

[2014-09-04 23:26] AtomicBlom opened #38 "Lots of warnings related to ModBlocks and ModItems"
When loading SteamNSteel, I get a lot of warnings that look like this:
`Unable to lookup steamnsteel:BRONZE_BOOTS for public static mod.steamnsteel.item.SteamNSteelItem mod.steamnsteel.library.ModItems.BRONZE_BOOTS. Is there something wrong with the registry?`

It appears that the field definitions in a class marked with @GameRegistry.ObjectHolder need to reflect the unlocalized name of the block,

[2014-09-05 02:05] ScottKillen commented on #38
Hmmm...poorly documented code that requires variables to follow a naming convention...nice.

Thanks for finding this. Those warnings are annoying and we would get a support hit on them.

[2014-09-05 02:08] ScottKillen commented on #33
I had the pipes reversed...it saw the correct ingredients and thus smelted steel, but it decremented coal once and iron twice because of the bug...but this was masked because it also removed the empty iron stack (before it was removed, stacksize was -1. Try it out with more iron and you will see the behavior.

This is now fixed. Next build will behave correctly.

[2014-09-05 02:08] #33 closed, assigned to ScottKillen

[2014-09-05 07:25] ScottKillen commented on #34
Fixed with 903b788476aab12592635d22ee213d4c8232821b

@Rosethorns
I have dropped a new build for you to run the cupola through its paces again.

[2014-09-05 07:25] #34 closed, assigned to ScottKillen

[2014-09-05 07:33] ScottKillen opened #39 "ISidedInventory bugs with cupola"
Cupola has low priority bug:

Cupola is a custom rendered 2 block structure. The bottom block contains the data and the top block is a dummy that delegates most of its functionality to the base block. The upper block has a tileentity that records its state as a slave.

Some mods interact with a blocks inventory based on the tileentity's ISideInventory interface. The cupola tileentity, `CupolaTE`,

[2014-09-05 16:10] AtomicBlom commented on #11
Hi there,
I've used the standard Minecraft generator for these ores and configured them to have the same number of veins as iron (20), but varied the maximum number of blocks as requested:
- 6 for Copper
- 6 for Zinc
- 3 for Tin

You had originally asked for 2 for Tin, but I found that in the vast majority of chunks, there were no ores generated at all, bumping it up to 3 has yielded better result

[2014-09-05 16:20] Mr-Byte commented on #39
I can pick this one up and provide a fix for it, probably later tonight or tomorrow morning.

[2014-09-05 16:21] ScottKillen commented on #39
Excellent! Thanks!

[2014-09-05 16:25] ScottKillen commented on #11
Very nice.

[2014-09-06 16:03] Mr-Byte commented on #39
I'll actually have to look into this tomorrow, I've got family coming into town today.

[2014-09-06 16:23] Rosethorns commented on #11
actually looking at those numbers. maybe somewhere around 150~ would be
omptimal (yeah three times what we have now) same size veins, just 3 times
as many

On 6 September 2014 15:36, Rosie Alexander roseanderalex@gmail.com wrote:

[2014-09-06 16:23] Rosethorns commented on #11
Looks really good steve :) now just leaves to tweaking through play testing
^_^

On 6 September 2014 04:25, Scott Killen notifications@github.com wrote:

[2014-09-06 16:25] ScottKillen commented on #39
They are the priority. See you after the fun!

[2014-09-07 03:43] #38 closed, assigned to ScottKillen

[2014-09-07 14:46] AtomicBlom commented on #11
I refactored the code to look more like yours Scott, so hopefully you won't need to change much, though I have a few utility inner classes, more than I would normally allow myself. I think there's some optimisation opportunities, but I was trying to keep the code quite understandable.

Here's the results of the code I'm about to push:
In world:
![2014-09-08_00 09 30](https://cloud.githubuserconten

[2014-09-07 15:39] ScottKillen commented on #11
Thanks for the hard work!

The changes will be more scarce now that we have config worked out.

[2014-09-08 07:31] AtomicBlom commented on #11
Alright, so I'd just like to clarify before starting work, we'll do Niter generation like this:
- Pick a random x-z in the chunk and check the biome.
- if we're in a desert biome (desert like?) then we can find sandstone at the location and generate veins of within the existing biome generated sandstone.
- If we're in a non-desert biome, we'll lower the chance of it generating, but when it does, i

[2014-09-08 13:18] ScottKillen commented on #11
Thanks for taking this on, @AtomicBlom !

[2014-09-08 21:21] horfius commented on #11
What you can do to check for desert biomes is caching biome list for biome type DESERT and checking if the current biome is one of those biomes. The only issue is that the biome type DESERT was deprecated in Forge 1.7.2, so I do not know if that is still the case. If so, I'd just suggest finding the names of them from source (and maybe some other popular biome mods) and storing them manually.

[2014-09-08 22:43] ScottKillen commented on #11
`BiomeType.DESERT` has been deprecated and deserts are now tagged with both `BiomeType.HOT` and `BiomeType.SANDY`. For maximum compatiblity, you can get the intersection of the sets of biomes for each tag and cache that as your list of "desert" biomes.

[2014-09-08 23:20] ScottKillen commented on #10
Customized ore blocks. See b56ed29bf1fe94249d442c7f6951e4d336d8a4c0

[2014-09-09 00:13] FoudroyantFactotum commented on #10
The "setHarvestLevel("pickaxe", 1); // iron pick" for the ore blocks may need to be changed. Forge Documentation lists the harvest level for an iron pickaxe as "setHarvestLevel("pickaxe", 2);". Unless it was intended that it should be  harvestable by a stone pickaxe, then the comments could be updated on CopperOre, SulfurOre, TinOre, ZincOre. Unless I'm mistaken.

[2014-09-09 00:19] ScottKillen commented on #10
@FoudroyantFactotum , the code is right  but I derped the comments. :/ Thanks for the eagle eye.

[2014-09-09 00:29] ScottKillen commented on #10
So you can get your name in the credits, feel free to edit the files right here on github and then submit a pull request.

If you'd rather not, I'll make the changes.

[2014-09-09 00:42] FoudroyantFactotum commented on #10
Yea I'd be able to do that. :) I'll submit the request soon.

[2014-09-09 00:46] ScottKillen commented on #10
Great! Thanks!

[2014-09-09 03:50] ScottKillen opened #45 "Ruins blocks"
Ruins blocks (floors, walls and ceilings) have many textures each to be used in a set pattern. Is having a different block for each texture a better approach than using connected textures?

Relates to #2

[2014-09-09 04:04] ScottKillen opened #46 "Plotonium chest"
Needs a texture, but I would also like this to use the vanilla chest model and function similarly.

References #2

[2014-09-09 04:05] ScottKillen commented on #2
OK... I am going to make new issues for the remaining textures as they have special issues associated with them.

[2014-09-09 04:05] #2 closed, assigned to Rosethorns

[2014-09-09 04:40] #10 closed, assigned to ScottKillen

[2014-09-09 16:10] AnimeKing129 commented on #45
I say, use connected textures but make some that won't connect to make it look, well, ruined.

[2014-09-10 04:48] ScottKillen opened #47 "Need stats for bronze and steel armor"

[2014-09-10 17:29] Seanthebaker commented on #45
Vazkii recently posted an image of glass that has random patterns which may be helpful here, they look like connected textures
https://twitter.com/Vazkii/status/509366234023202816

[2014-09-10 22:05] ScottKillen commented on #45
![vazkii glass](https://pbs.twimg.com/media/BxGh47zCcAAWjz7.png)

Yep. Wow.

[2014-09-10 22:06] ScottKillen commented on #45
What do you think, @Rosethorns ?

[2014-09-10 22:07] ScottKillen opened #48 "Add the ability to spawn/respawn ore in existing chunks"

[2014-09-11 03:23] #14 closed, assigned to Rosethorns

[2014-09-11 03:50] #39 closed, assigned to nobody

[2014-09-11 15:26] Mr-Byte commented on #39
Sorry for not getting to this!  I've been very busy and when I got my modding environment set back up I got distracted with my own mod.

[2014-09-12 05:25] ScottKillen commented on #39
No problem,. I realized it was a pretty quick fix... :grinning:

[2014-09-12 05:33] Rosethorns commented on #47
Steel armor, worse than diamond better than iron, same enchant level as
diamond.
Bronze armor, worse than iron better than gold, same enchant level as iron.
Steel pick, can mine obsidian, slower than diamond, faster than iron.
all other tools "between iron and diamond" same enchant level as diamond>

Bronze tools are like iron but slower, same durability and enchant-ability
though
as far as bronze

[2014-09-12 06:00] Rosethorns commented on #45
I really do like the idea of it being automated but we have so many
specific rules for our walls/floors which wouldn't work so great for more
complex situations I fear. But I won't step on excitment to try.
This is a 5x5 test patch I put together in photoshop.
http://i.imgur.com/z2t7pDV.png
here are the parts it is made from http://i.imgur.com/Ki0zylR.png

Things to keep in mind.
Not all "doodads"

[2014-09-13 04:20] ScottKillen commented on #45
I think I have a great idea:  By default the textures orient themselves following certain rules, but in creative mode, you can use something (a wooden shovel?) and right click on a block to make it ignore the rules and cycle through the different wall pieces.  This would save you some of the work of designing the ancient ruins.

[2014-09-13 04:29] ScottKillen commented on #47
Perfect!

[2014-09-13 04:37] #47 closed, assigned to Rosethorns

[2014-09-13 11:35] AtomicBlom commented on #11
The Niter stuff is now done. Once the kids are in bed, I'll put up the pull request. I've followed your suggestions and created one behavior for DRY, HOT and SANDY biomes, and another slightly different one for other biomes. I was thinking about blacklisting cold biomes perhaps?

Anyway, the only thing that's really left is that the Niter ore blocks still have the stone backing instead of sandston

[2014-09-13 14:52] ScottKillen commented on #11
If the premise is that niter forms underneath deserts, then I don't think cold would destroy niter, and so cold should not be blacklisted.  On the other hand, land that is now moist may have destroyed the niter underneath. So maybe blacklist moist biomes?

[2014-09-13 15:00] Rosethorns commented on #45
that sounds like a great idea if we want to give that a test run. I will
break the sheet apart after I wake up (it is 3am right now) and send it
your way to play around with. Hopefully I will also settle on a good naming
convention for the pieces so it all makes sense xD

On 13 September 2014 16:20, Scott Killen notifications@github.com wrote:

[2014-09-13 15:03] Rosethorns commented on #11
I think scott is onto it with blacklisting moist biomes. cold arid would
still be ok for the "sparse" (non desert?) form of generation.
I will get a sandstone version of the niter texture up ASAP

On 14 September 2014 02:52, Scott Killen notifications@github.com wrote:

[2014-09-13 15:04] Rosethorns commented on #11
oh and the premise is less that Niter forms in deserts and more that Niter
"survives" best in more arid enviroments. the more humid the less likely
the Niter will crystalize (this is the simplified way it exists in the real
world anyway)

On 14 September 2014 03:03, Rosie Alexander roseanderalex@gmail.com wrote:

[2014-09-13 15:37] AtomicBlom commented on #11
Well, I just learnt something new, let's see if I can do something with it :)

That leaves a few things to take into account then, SANDY is probably not an appropriate thing to include in the list so I can take that out.

Blacklisting the WET biome type will select against swamplands, jungles, jungle hills and jungle edges. (and a whole lot more if you take into account mods like biomes o plenty)

[2014-09-15 14:05] AtomicBlom commented on #45
While twitter is exploding, I'll just leave this here...
![2014-09-15_23 26 07](https://cloud.githubusercontent.com/assets/3894692/4272326/4cfd6786-3ce1-11e4-9774-c658e2a4eb19.png)

Always wondered how connected textures work so I thought I'd have a play

[2014-09-15 15:23] Rosethorns commented on #45
EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE this is soooo exciting!
glad to see the microsoft stuff hasn't scared you off modding ;)

On 16 September 2014 02:05, Steven Blom notifications@github.com wrote:

[2014-09-15 15:30] ScottKillen commented on #45
:+1:

[2014-09-15 15:31] ScottKillen commented on #11
Agreed, @AtomicBlom

[2014-09-15 15:44] Rosethorns commented on #45
In order to create a lot of interest and stop monotony there will be a
considerable amount more variant textures, the current "flat" filler block
that fits between the borders shown here should by the end of it all be a
very low percentage of the actual variation shown, with the actual majority
being panels/pipes/tears/consoles/bent panels/open holes/vents/damage
variants (not just rust like now)

[2014-09-16 04:59] AtomicBlom commented on #45
So far I've been working with straight blocks and all the magic of connected textures is client side. If we have it that you use your steam-powered-wooden-rivet-gun or whatever it is changes what the feature on the block there are two main approaches we can take.

We can use the metadata value to specify the "Feature" of the block, This will of course mean that all of the sides of the block will b

[2014-09-16 05:01] AtomicBlom commented on #45
Oh, I've been chopping up your sprite sheet for this which I don't mind doing, but I'm shocking with making names for things, so I'd love to hear what you were going to call the files.

[2014-09-16 05:56] ScottKillen commented on #45
@AtomicBlom I should probably mention here that the player won't be able to override the connected textures. The purpose of the ruins is this: @Rosethorns is going to use these blocks to create templates (like schematics) of ancient ruins. The player will find these ruins and can dismantle and reuse the blocks...but the player cannot override connected textures in surival mode.

...however, in cre

[2014-09-16 08:06] AtomicBlom commented on #45
Nice writeup. That gives me a bit of direction. I think then that I'll convert the blocks to tile entities when you use that shovel on them, but otherwise I'll just use the normal connected texture code and I'll put some effort into ensuring it always creates aesthetically pleasing walls.

That should give @Rosethorns complete customizations of the blocks so she can make the textures per-side and

[2014-09-16 08:43] Rosethorns commented on #45
Yes thank you for that full explanation Scott :)

On 16 September 2014 20:06, Steven Blom notifications@github.com wrote:

[2014-09-16 19:20] ScottKillen commented on #45
One small issue... She'll be using MCEdit to create the templates/schematics and I don't think MCEdit plays well with tileentities.

Perhaps more preferable, we should also add a requirement to be able mark and export a cubular area as a schematic/template to make it even easier on @Rosethorns and then we wouldn't be restricted by the capabilities of MCEdit. This would be another debug only featur

[2014-09-16 19:21] ScottKillen commented on #45
Also, @AtomicBlom

When you start making your tilentities, there is a lot of common code in CupolaTE that I was planning on pulling into an abstract base class. Feel free to have your way with it. :grinning:

[2014-09-16 22:51] Rosethorns commented on #45
there are been quite a few "schematic maker" mods since MCEdit so I might
take a look around if I get a chance and see if I can find one that exports
a more tileentity friendly format. Like one that exports by unlocalized
name or something

On 17 September 2014 07:21, Scott Killen notifications@github.com wrote:

[2014-09-16 23:29] ScottKillen commented on #45
Yah. but if not the flexibility of our own format is a win, too.

[2014-09-17 03:17] AtomicBlom commented on #45
Which ever way you guys wish to go is fine by me. I'll definitely check out the Cupola as I've been itching to check out how that's implemented anyway. The tile entities themselves would be very simple as I'm just using it for an extended metadata store.

At this point, we can split it out if you like, there's certainly enough work to go around.

[2014-09-17 05:04] ScottKillen commented on #45
I'll wait a few days to see if @Rosethorns comes up with any tools before breaking out those tasks.

[2014-09-17 05:21] AtomicBlom commented on #45
Likewise, I'll continue to focus on the connected textures before I start looking at the wooden shovel stuff.

[2014-09-17 05:27] AtomicBlom commented on #45
Leaving this thread here for reference: http://www.minecraftforge.net/forum/index.php?topic=21045.0
They have example code for loading an MCEdit schematic file, with some pretty explicit references to tile entities in there.

[2014-09-17 12:55] ScottKillen commented on #45
Also should reference @Lunatrius excellent mod here: [Schematica](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1285818-schematica) ([github repo](https://github.com/Lunatrius/Schematica))

[2014-09-17 13:00] Rosethorns commented on #45
Yes that was the one I was thinking of :) if you like the looks of what it
can do and don't want to do something of our own, this would be a good pick

On 18 September 2014 00:55, Scott Killen notifications@github.com wrote:

[2014-09-17 13:03] ScottKillen commented on #45
@Rosethorns are you comfortable using MCEdit to make make your schematics?

[2014-09-17 13:33] Lunatrius commented on #45
If it's about loading/saving schematics, [this](https://github.com/Lunatrius/Schematica/tree/master/src/main/java/com/github/lunatrius/schematica/world) package should be more or less everything you need. In fact, a lot of the methods can be dropped, getting things down to the bare minimum. `SchematicAlpha` is what handles loading/saving while `SchematicWorld` is just a container for the data. `ex

[2014-09-17 14:19] FoudroyantFactotum commented on #46
Hey @ScottKillen i was thinking of taking up building the base for the block (work on a listed issue, instead of minor bugs), and just wanted to know if there was anything unique about the chest.

[2014-09-17 14:33] ScottKillen commented on #45
Thanks, @Lunatrius :exclamation:

[2014-09-17 16:16] Rosethorns commented on #46
Absolutely nothing except the texture. which is waiting on me

On 18 September 2014 02:19, FoudroyantFactotum notifications@github.com
wrote:

[2014-09-17 16:38] ScottKillen commented on #46
It will use same model and function like a vanilla chest. There will be no in-game recipe to craft it.

[2014-09-17 16:39] ScottKillen commented on #46
..and welcome aboard! Thanks for the enthusiasm! @FoudroyantFactotum

[2014-09-18 02:40] ScottKillen commented on #11
This is complete with the merge of #50

[2014-09-18 02:40] #11 closed, assigned to ScottKillen

[2014-09-18 03:01] FoudroyantFactotum commented on #46
Ok cool good to know @ScottKillen and @Rosethorns . Should be done relatively soon.

Enthusiasm, I've got a ton of that for this project. :)

[2014-09-18 04:57] ScottKillen commented on #46
:+1:

[2014-09-18 04:58] ScottKillen opened #52 "Niter ore texture need sandstone background"
Ore generation complete, we just need a texture change.

[2014-09-18 08:24] Rosethorns commented on #52
Thank you!

On 18 September 2014 16:58, Scott Killen notifications@github.com wrote:

[2014-09-18 13:03] AtomicBlom commented on #45
Thanks @Lunatrius, I think we could potentially make that work, especially if we run it on the server side where we should have access to all the Tile Entitiy data. Failing that, we can mod it to work with our stuff I'm sure.

@Rosethorns, What kind of shapes do you want for the features? Would you like square/rectangular features or shall I cater for all sorts of weird shapes?

[2014-09-18 15:34] Rosethorns commented on #45
Hey steve I'm not quite sure I understand the question. Do you mean voxel
painted shapes? as in if I layed blocks out in a circle. Or do you mean
individual block shapes? as if I rendered some special objs for the blocks?

If it is the former: all the rooms in the ruins will be more or less cuboid
with details like internal walls to the shape e.t.c but in most cases each
'plane' of voxels like a w

[2014-09-18 15:59] ScottKillen commented on #45
I don't think the shapes of the individual block matter.

@AtomicBlom
Thinking about it, with @Rosethorns approval,  I would add a requirement that the mechanism that saves the schematics see only SteamNSteel blocks and record all other blocks as empty/air. In this way, we mask out all other blocks so that the ruin spawner can simply place these ruins into whatever terrain.

This will work as long

[2014-09-18 16:09] ScottKillen commented on #45
@AtomicBlom @Rosethorns
More thoughts on this:
We could expand the range of blocks recognized by the template creator to include stone bricks or other non-naturally occurring blocks so as not to limit Rosie's palette (or we could narrow it to a set of blocks broader than just SNS blocks, but not including all non-naturally occurring blocks if Rosie would like to specify her block palette in advanc

[2014-09-18 16:11] ScottKillen commented on #45
High on our priorities for this is to give Rosie as much creative freedom as she needs.

[2014-09-18 16:44] Rosethorns commented on #45
Yes that is a fairly tricky one. there is some natural elements I might
like to include in the "deep" areas of the larger dungeon template pieces
where tunnels have collapsed or walls have caved in, but if I just said
"whitelist dirt" then we are going to find gigantic dirt clods in the
middle of rooms for no reason :P

Air is technically a block is it not? id 0? is there no way for us to
"record

[2014-09-18 16:48] ScottKillen commented on #45
Empty and air look the same.

If you are very careful about what you export (maybe design everything up in the air) then it shouldn't really be an issue. But...if there is a way to save you some effort then that is what I am going for.

[2014-09-18 16:51] Rosethorns commented on #45
meh! I was going to desgin everything up in the air on a flat map anyway :D

On 19 September 2014 04:47, Scott Killen notifications@github.com wrote:

[2014-09-18 22:46] AtomicBlom commented on #45
Don't have enough time right now to comment on the schematics part, but I just wanted to clarify my original question. I'm not referring to block shapes or anything like that. I'm more referring to the connected textures on the wall itself. The demo you gave has two features, the pipes and the plates and so I have textures for a 2-high,1-wide pipe, a 2x2 plate, and a {anything}x2 plate, as long as

[2014-09-18 23:54] Rosethorns commented on #45
I was going to keep the demands simple and just say to keep plates
rectangular. But if you think you want to do arbitrary plates that would be
pretty awesome.

I will need to prioritize the "inverse corner" pieces if that is the case
when I finally get time to sit down and do it.

Also you should have everything you need to do plates that are of any
length and any height right now, both connected

[2014-09-19 00:31] AtomicBlom commented on #45
Sounds like a plan. Tetris shapes seem to be easier for me, but are a lot more work for you. I can throw in some placeholder graphics for anything that's missing so take your time on that.

[2014-09-19 22:00] ScottKillen commented on #48
Completed with 4084aae6e47f71c9c0937f3be8c190b552286c68

[2014-09-19 22:00] #48 closed, assigned to ScottKillen

[2014-09-20 21:16] ScottKillen opened #55 "Test experimental sulfur ore generator"
@AtomicBlom,

Please test and if possible adjust settings to achieve proper ore distribution...or fail it flat out...

Here is how it works:
1. To find a starting place for the vein, take 128 samples. 2/3 of these will be 0 < y < 16 (to find underground lava) and 1/3 of these are 8 < y < 256 (the range used by Mojang for the rare lava lake)
2. If a sample is under lava, laterally neighbors lava or

[2014-09-20 21:17] ScottKillen commented on #55
Code for this is in `feature/revised_sulfur_gen` branch

[2014-09-21 00:35] AtomicBlom commented on #55
Checking it out now.

[2014-09-21 01:13] AtomicBlom commented on #55
Very nice! Pull it in.

The only thing I would fix up is the name of a function: isBlockAiriJustAboveLava (there's an extra i in air). That didn't seem worth a pull request.

[2014-09-21 01:16] AtomicBlom commented on #55
I personally also think it's worthwhile adding your initial issue description above ^ to the SulfurOreGenerator.java javadocs so that anybody glancing at it has an overview of what it's doing.

[2014-09-21 02:29] ScottKillen commented on #55
Thank you for the effort and suggestions!

[2014-09-21 03:17] #55 closed, assigned to ScottKillen

[2014-09-22 05:32] #46 closed, assigned to Rosethorns

[2014-09-22 05:33] ScottKillen opened #57 "Cupola needs to drop items when broken"
In survival, the cupola should drop its items when the player breaks it.

[2014-09-22 05:34] ScottKillen opened #58 "Plotonium chest shows incorrect particles while player is breaking it"
Lava particles are dislayed while the chest is being broken.

[2014-09-22 05:36] ScottKillen opened #59 "Ghost plotonium chest is placed"
If the player is holding a plotonium chest and right clicks on another plotonium chest, a ghost chest is quickly placed and then removed (placed on the client and then removed when the server updates the client)

[2014-09-22 05:55] ScottKillen opened #60 "Need mod logo for mod info screen"
Logo appears on forge mod info screen.

Can be any size up to 256 x 256 px

[2014-09-22 07:53] FoudroyantFactotum commented on #59
To note, it's not just with the chest block, it's with any block place using the side of the chest.

[2014-09-22 07:55] FoudroyantFactotum commented on #59
The fix is on the way!

[2014-09-22 08:28] Rosethorns commented on #60
Right! roger that, my ever expanding todo list has been updated :P

On 22 September 2014 17:55, Scott Killen notifications@github.com wrote:

[2014-09-23 02:13] ScottKillen commented on #59
Is that fix ready for me to pull (I can pull it straight from your repo if you like)

[2014-09-23 07:14] FoudroyantFactotum commented on #59
yea it is. sure go right ahead, I only push code which I've double check. Which means it should work. otherwise i can make a pull request for you

[2014-09-23 13:56] FoudroyantFactotum commented on #57
I'll work on this, should be done soonish.

[2014-09-24 01:37] ScottKillen commented on #52
Done with 7b20f3eccfbd8b33ac99cad1ee373872699ce23c

[2014-09-24 01:37] #52 closed, assigned to Rosethorns

[2014-09-24 01:38] ScottKillen commented on #52
@Rosethorns may wish to replace textures. :wink:

[2014-09-24 01:52] AtomicBlom commented on #45
Here's a few scenarios that I'm encountering with the connected textures that will need extra tiles:
![missingtiles](https://cloud.githubusercontent.com/assets/3894692/4382626/7351409e-438d-11e4-83dc-2cc6e743f030.png)

[2014-09-24 02:27] #57 closed, assigned to nobody

[2014-09-24 02:27] #59 closed, assigned to nobody

[2014-09-25 08:18] FoudroyantFactotum commented on #58
Also occurs with the cupola.

I've been looking into this one and this is what I've found (So please correct me if I'm wrong). From what forge forums and tinkering around, It appears as though you can not specify the texture from the model folder.The fix would be to keep a normal Block texture in the folder. But it could be be possible to remove the particles all together. @ScottKillen what do you

[2014-09-25 11:20] horfius commented on #58
I have found this to most commonly occur if there are textures which are missing from the mod, which screws up the texture atlas created at runtime (only for the brock-breaking particles thought). There is a method you can override in Block to show your own particles or none at all though.

[2014-09-25 13:00] ScottKillen commented on #58
@FoudroyantFactotum I had this issue at one point with the cupola and it had to do with the block textures and the render type (I don't remember exactly)

The current texture shown on the particles is actually not lava or the missing texture, but the empty 0 x 0 px texture. I encountered this recently on another project.

If you want, I can look at this next.

[2014-09-25 14:01] FoudroyantFactotum commented on #58
Yea i noted that it was at  (0,0), defaulted. I was taking a look at EE3 mod they solved the issue with block textures. Or as @horfius said just override the method. which I thinks _addHitEffects_ . I'll be able to take a better look in in hour.

[2014-09-25 14:03] ScottKillen commented on #58
I noticed with the cupola that when I fixed the issue it used the render to determine particles. I think it had to do with allowing MC to set the texture rather than providing no texture...

[2015-01-21 01:40] Rosethorns opened #70 "Remnant tile set needs unlocalized names fixed."
ruinWallPlotonium should become remnantRuinWall
blockSteelFloor should become remnantRuinFloor
chestPlotonium should become remnantChest

same for pillar and other remnant objects going forward.

[2015-01-21 02:49] AtomicBlom commented on #70
Hmn, I need to find a way to do that without losing the blocks...

[2015-01-21 05:22] AtomicBlom commented on #45
Lots of work has been done in this space and not a lot of updates here. Sufficed to say any further bugs with the system should be raised as additional issues and dealt with individually.

[2015-01-21 05:22] #45 closed

[2015-01-26 14:36] AtomicBlom commented on #70
I should probably add these other mappings as well:
PlotniumRuinPillar -> RemnantRuinPillar
(all)IronBarsBlock -> RemnantRuinIronBars.

I stil want to compact all the iron bars into a single block. I'll try that again as part of this pull request I think.

So far I've been able to do the wall and floors without damaging your world. I think I can do the chest as well, but the iron bars I suspect th

[2015-01-26 21:04] Rosethorns commented on #70
Thats quite okay. don't worry about damaging the world with anything
really. the schematics are saved and can be manually edited

On 27 January 2015 at 03:36, Steven Blom notifications@github.com wrote:

[2015-01-26 22:46] AtomicBlom commented on #70
Except that you'd lose any MetaBlock information

[2015-01-26 23:48] AtomicBlom commented on #70
The main set of renames is complete. It's likely that the contents of chests will be destroyed, but I think they were empty anyway weren't they?

[2015-02-01 08:09] AtomicBlom commented on #70
This is complete and will be on the build server shortly.

[2015-02-01 08:09] #70 closed

[2015-02-12 13:17] AtomicBlom opened #75 "Ruins generating with wrong blocks"
Adding mods to forge and starting a new world may result in wrong blocks being used for the ruins structures.

[2015-02-12 13:20] AtomicBlom opened #76 "No sound for Remnant Ruin Chest"
Opening a Remnant Ruin Chest does not result in any audible feedback.

[2015-02-12 13:25] AtomicBlom opened #77 "Debug Commands are not disabled in release build"
It is possible to call /spawnPotato in a release build of SteamNSteel and ruin someone's house for free.
This and other commands should be locked down to not be available in a release build.

[2015-02-12 13:30] AtomicBlom opened #78 "Ruins can generate in any Biome"
I've been getting a lot of these ruins spawning out in the middle of the ocean, not attached to anything.

We should probably limit the places where these can actually spawn.

[2015-02-13 09:05] AtomicBlom commented on #75
Should be fixed by #79

[2015-02-13 09:05] #75 closed

[2015-02-26 00:22] FoudroyantFactotum commented on #76
Upon checking with current branch, the sound does exist.

[2015-02-28 12:49] AtomicBlom opened #83 "Vines can displace blocks when generating ruins"
Some of our ruins have vines on them, which when they spawn into the world, cause unusual looking holes.
We should fix this by only allowing vines to replace air.

[2015-05-09 09:27] S60Team opened #84 "Forge Server Run Error"
Getting Error when generating world on Forge 1291 Server (and it crashes).
No such problem on SinglePlayer.

[2015-05-09 10:48] AtomicBlom commented on #84
Hi there, I don't suppose you could post the logs to gist.github.com and link it here?

[2015-05-11 08:17] S60Team commented on #84
Sorry! Totaly forgot about it! Here it is: https://github.com/S60Team/logs
Also tried on Forge 1380, but it also crashes...

[2015-05-11 08:22] AtomicBlom commented on #84
Oh wow, I wasn't expecting MinecraftException to only exist on the Client...

That should be relatively easy to fix.

[2015-05-11 08:55] AtomicBlom commented on #84
Looks like I've made quite a few assumptions about what was available on the server that need to be resolved before you'll be able to play sorry. I'll create another issue for fixing the server in general, but I'll fix this problem quite explicitly.

[2015-05-11 08:58] AtomicBlom opened #86 "Server uses components from the client"
The server suffers from a lot of ClassLoadExceptions due to a number of assumptions that certain classes would be available.
* ResourceManagement
* MinecraftException (Fixed in #84)
* Others unknown

These need to be resolved before release.

[2015-05-11 08:59] AtomicBlom commented on #84
I'm going to close this issue, I'd recommend that you watch #86 which I'll discuss with the team about how we're going to fix this tonight and hopefully get a fix soon.

[2015-05-11 08:59] #84 closed

[2015-05-11 17:47] S60Team commented on #86
Updated Error Log.
I think it's because of Difference in Client and Server Save (World).

[2016-05-18 21:23] kaylahynes commented on #86
Isnt this what JIRA is for?

[2016-05-18 23:20] AtomicBlom commented on #86
True, but this error was lodged over a year ago, and I think it's already fixed, I should verify it though before closing this off or moving it over to Jira..

[2017-07-26 11:57] #60 closed

[2017-07-26 11:57] #4 closed

[2017-07-26 11:58] #58 closed